{% extends "index.html" %}
{% load static %}

{% block body %}

    {% include "layouts/home-navbar.html" %}

    <div class="profile-container">
        <div class="profile-information">
            
            <div class="image-profile">
                <div class="user-image" style="background-image: url('{{user_profile}}');"></div>
            </div>
            
            <div class="profile-account-info">
                <div class="profile-account-info-container mr-5">

                    <div class="profile-options mt-2">
                        <h3 class="font-weight-light">{{ username }}</h3>
                        
                        <button class="btn btn-outline-secondary ml-4 btn-sm font-weight-bold text-secondary" style="width:110px; border:1px solid rgb(199, 199, 199);">
                            Editar perfil
                        </button>

                        <button class="btn d-flex justify-content-center align-items-center ml-2" style="width:40px;">
                            <i class="fa fa-cog"></i>
                        </button>
                    
                    </div>
                
                    <div class="profile-details">
                        <p class=""><b>{{ post_amount }}</b> publicaciones</p>
                        <p class="ml-4"><b>0</b> seguidores</p>
                        <p class="ml-4"><b>0</b> seguidos</p>
                    </div>
                
                    <div class="profile-bio">
                        <p class="font-weight-bold text-muted">{{ real_name }}</p>
                    </div>
                
                </div>
            
            </div>
        
        </div>
        <div class="profile-posts container">
            {% for post in posts %}
                <div class="post-preview card" post-id={{post.3}} data-toggle="modal" data-target="#postModal">
                    <img src="{{post.1}}" alt="">
                    <div class="post-preview-information">
                        <p>
                            <i class="fa fa-heart mr-1"></i> {{ post.0 }}
                            <i class="fa fa-comment ml-3 mb-2"></i>   {{ post.2 }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    {% include "accounts/post_modal.html" %}

{% endblock body %}