<div class="navbar-container">
    <div class="navbar-logo">
        <h3>Instagram</h3>
    </div>
    <div class="navbar-search-bar">
        <input type="text" class="form-control bg-light" id="" placeholder="&#xF002; Busca">
    </div>
    <div class="navbar-buttons">
        <a href="" class="btn">
            <i class="fa fa-home"></i>
        </a>
        <a href="" class="btn">
            <i class="fa fa-paper-plane-o"></i>
        </a>
        <a href="" class="btn">
            <i class="fa fa-compass"></i>
        </a>
        <a href="" class="btn">
            <i class="fa fa-heart-o"></i>
        </a>
        <a href="" class="btn">
            <i class="fa fa-circle-thin"></i>
        </a>
    </div>
</div>