*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    width:100%;
    height:auto;
}

#main-container {
    width: 100%;
    height:661px;
}

#image-preload {
    width:100%;
    height:661px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
* Signup page
*/
.signup-container {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-form, .signup-to-signin {
    width: 25%;
    height: 73%;
    border: 1px solid rgb(141, 141, 141, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.signup-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-form h1 {
    font-family: 'Lobster', cursive;
}

.signup-form p {
    font-size:12px;
}

.signup-to-signin {
    height:10%;
}

.signup-to-signin span {
    font-size:14px;
}

.signup-form input, button{
    width:80%;
    font-size:12px;
}

/*
* Signin Page
*/
.signin-container {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signin-form, .signin-to-signup {
    width: 25%;
    height: 60%;
    border: 1px solid rgb(141, 141, 141, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.signin-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.signin-form h1 {
    font-family: 'Lobster', cursive;
}

.signin-form i {
    color:#3b5998;
    font-size:20px;
}

.signin-form p {
    color:#3b5998;
    font-size:12px;
}

.signin-to-signup {
    height:10%;
}

.signin-to-signup span {
    font-size:14px;
}

.signin-form input, button {
    width:80%;
    font-size:12px;
}


/*
* Home Navbar layout
*/
.navbar-container {
    width:100%;
    height:8%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(141, 141, 141, 0.3);
}

.navbar-logo {
    width:35%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Lobster', cursive;
}

.navbar-logo a:hover {
    text-decoration: none;
}

.navbar-logo h3 {
    margin-right: 40px;
    margin-top:10px;
    font-weight: 100;
    font-size:25px;
}

.navbar-buttons {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar-buttons a, button{
    background-color: transparent;
    color:black;
    font-size:24px;
}

.dropdown-menu {
    box-shadow: 0px 5px 5px rgb(218, 218, 218);
    width: 230px;
}

/*
* https://stackoverflow.com/questions/2570972/css-font-border
*/
.user-options-diamond i {
    float:right;
    position: relative;
    bottom:25px;
    color:white;
    font-size:25px;
    text-shadow: -1px 0 rgba(211, 211, 211, 0.4), 0 1px rgba(211, 211, 211, 0.4), 
                  1px 0 rgba(211, 211, 211, 0.4), 0 -1px rgba(211, 211, 211, 0.4);
}

.user-options a{
    font-size:15px;
    font-weight: 300;
}

.user-options i {
    font-size:24px;
}


.navbar-buttons button {
    width:30px;
    height:30px;
    margin-right:230px;
    display: inline-block;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top:5px;
}

.navbar-search-bar {
    width: 60%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-search-bar input {
    width: 37%;
    height:52%;
    font-size: 13px;
    font-weight: lighter;
    border-radius: 3px;
    font-family:'Arial', 'FontAwesome';
    margin-left:70px;
}

.navbar-search-bar input::-webkit-input-placeholder {
    text-align: center;
    color: rgb(143, 143, 143);
}

/*
* Home page
*/
.home-container {
    width:100%;
    height:100%;
    overflow: scroll;
    background-color: rgba(211, 211, 211, 0.1);
}

.home-container::-webkit-scrollbar {
    display: none;
}

/*
* User profile page
*/
.profile-container {
    width:100%;
    height:90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.1);   
}

.profile-information {
    width: 65%;
    height: 35%;
    display: flex;
    flex-direction: row;
}

.image-profile {
    width:24%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image {
    width:75%;
    height:75%;
    display: inline-block;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.profile-account-info {
    width:75%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-account-info-container {
    width:73%;
    height:80%;
    display: flex;
    flex-direction: column;
}

.profile-options {
    width:100%;
    height:30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.profile-options i {
    font-size:20px;
}

.profile-options button:hover {
    background-color: transparent;
}

.profile-details {
    width:100%;
    height:30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.profile-bio {
    width:100%;
    height:auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-posts {
    width:100%;
    height:65%;
}


/*
* Post form page
*/
.create-post-container {
    width:100%;
    height:90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.1);
}

.post-form {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; 
}

.post-form h6 {
    left: 274px;
}

.post-form form {
    width:100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.post-form input, .post-form textarea, .post-form button {
    width: 60%;
}

.post-preview {
    width:26%;
    height:275px;
    position:relative;
    float:left;
    left:50px;
    margin-left:30px;
    margin-top:30px;
    border-radius:0px;
}


.post-preview-image {
    display: inline-block;
      
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top:5px;
}

.post-preview-information {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    color:transparent;
}

.post-preview-information p {
    font-size:20px;
}

.post-preview-information:hover {
    color:white;
    background-color: rgba(0,0,0,0.2);
    cursor:pointer;
}

/*
* Post modal layout
*/

.modal-dialog {
    margin:0px;
}

.post-modal-container {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
}

.post-modal-image {
    width:65%;
    height:100%;
    display: inline-block;
      
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;   
    background-color: black; 
}


.post-modal-information {
    width:35%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.post-modal-user {
    width:100%;
    height:11%;
    border-bottom:1px solid rgb(212, 212, 212, 0.3);
    display: flex;
    flex-direction: row;
}

.post-modal-user-info {
    width:50%;
    height:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.post-modal-user-info a:hover {
    text-decoration: none;
}

.post-modal-user-image {
    width:35px;
    height:35px;
    border-radius: 50%;
    display: inline-block;
      
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    margin-left:20px;
}

.post-modal-options {
    width:50%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.post-modal-options button {
    background-color: transparent;
}

.post-modal-comments {
    width:100%;
    height:54%;
}

.post-modal-actions {
    width:100%;
    height:40%;
}

@media (min-width:300px) and (max-width:900px) {
    .signup-form, .signup-to-signin, .signin-form, .signin-to-signup {
        width:70%;
    }
}